<% include partials/header %>
<% include partials/nav %>
<% 
var data = JSON.stringify(gs_details);
var nric = JSON.stringify(officer_details.nric);
%>
<script>
  $(function () {
    var data = <%- data %>;
    var nric = <%- nric %>;
    $("#gsTable").bootstrapTable({ data: data })
    $("#gsTable").on('click-cell.bs.table', function (field, columnName, valueClicked, data) {
      window.location.href = "/general_screener/" + nric + "/" + data.key;
    });
  })
</script>
<div class="container-fluid">
  <% if (notif != null) { %>
  <% if('undefined'!== typeof alert || alert !== '' || alert !== null) { %>
  <% if (alert) { %>
  <div class="alert alert-success alert-dismissible fade show mx-auto col-11 col-sm-6 mt-3" role="alert">
    <% } else { %>
    <div class="alert alert-danger alert-dismissible fade show mx-auto col-11 col-sm-6 mt-3" role="alert">
      <% } %>
      <%=notif%>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    <% } %>

    <h4 class="mt-4">General Screener -
      <%=officer_details.nric%>
    </h4>
    <hr>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/access_control/<%=officer_details.nric%>">AC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">GS</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">X-Ray</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/xray_hbs/<%=officer_details.nric%>">X-Ray HBS</a>
          <a class="dropdown-item" href="/xray_pb/<%=officer_details.nric%>">X-Ray Pre-Board</a>
          <a class="dropdown-item" href="/xray_cargo/<%=officer_details.nric%>">X-Ray Cargo</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">ST & SB</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/security_test/<%=officer_details.nric%>">Security Test</a>
          <a class="dropdown-item" href="/security_breach/<%=officer_details.nric%>">Security Breach</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/others/<%=officer_details.nric%>">Others</a>
      </li>
    </ul>

    <table class="table table-hover table-bordered table-striped mx-auto" id="gsTable" data-search="true"
      data-pagination="true">
      <thead class="thead-light">
        <tr>
          <th data-field="id" data-sortable="true">#</th>
          <th data-field="overall_status" data-sortable="true">Status</th>
          <th data-field="certified_date" data-sortable="true">Certified Date</th>
        </tr>
      </thead>
    </table>

    <div class="mb-4 col-11 mx-auto">
      <% if (user.role == 1) { %>
      <a href="/general_screener/new/<%=officer_details.nric%>" class="btn btn-primary col-sm-6"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Add
        New Record</a>
      <% } %>
    </div>

  </div>

  <% include partials/footer %>