<% include partials/header %>
<% include partials/nav %>
<script>
  $(document).ready(function () {
    $('input[name=st_date]').datepicker("setDate", 'now');
  });
</script>

<% if (user.role == 1) { %>
<div class="container-fluid">

  <h4 class="mt-4">Add New Security Test Record</h4>
  <hr>

  <form action='/security_test/new/<%=officer_details.nric%>/' method="POST" enctype="multipart/form-data">
    <div class="card d-flex mx-auto mb-5">
      <div class="card-header text-left">
        <div class="d-sm-flex flex-sm-row">
          <div class="mr-auto">
            <h6 class="mb-2 font-weight-bold">Name:
              <%=officer_details.fname%>
              <%=officer_details.lname%>
            </h6>
            <p class="mb-2">NRIC:
              <%=officer_details.nric%>
            </p>

            <div class="mb-0">
              Status:&nbsp;
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="overall_status" id="passStatus" value="1" required>
                <label class="form-check-label" for="passStatus">Pass</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="overall_status" id="failStatus" value="0">
                <label class="form-check-label" for="failStatus">Fail</label>
              </div>
            </div>
          </div>

          <div class="col-sm-6 px-0">
            <label for="st_certified_date" class="font-weight-bold mb-0">Test Name:</label>
            <div class="input-group mb-2">
              <input type="text" class="form-control" name="st_name" id="st_name" value="" required>
            </div>
          </div>
        </div>

      </div>
      <div class="card-body text-left">


        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_date">Date:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="st_date" id="st_date" value="" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_time">Time:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control timepicker" name="st_time" id="st_time" value="" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-clock"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_location">Location:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_location" id="st_location" value="" required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_AvSOAPO">APO/AvSO:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_AvSOAPO" id="st_AvSOAPO" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_certExp">Cert Expiration:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_certExp" id="st_certExp" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_svrYr">Year(s) of Service:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_svrYr" id="st_svrYr" value="" required>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_mode">Mode:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_mode" id="st_mode" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_entity">Entity:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_entity" id="st_entity" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_sto">STO:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_sto" id="st_sto" value="" required>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_em">EM:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_em" id="st_em" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_rt">RT:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_rt" id="st_rt" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_so">SO:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_so" id="st_so" value="" required>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_certSeized">Cert Seized:</label><br />
            <div class="input-group mb-3">
              <select class="custom-select" id="st_certSeized" name="st_certSeized" required>
                <option selected>Select</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_cat">Category:</label><br />
            <div class="input-group mb-3">
              <select class="custom-select" id="st_cat" name="st_cat" required>
                <option selected>Select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_supervisor">Supervisor:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_supervisor" id="st_supervisor" value="" required>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-6">
            <label class="font-weight-bold mb-0" for="st_image">Image:</label><br />
            <div class="input-group mb-3">
              <input type="file" name="st_image" />
            </div>
          </div>
          <div class="col-sm-6">
            <label class="font-weight-bold mb-0" for="st_remarks">Remarks:</label><br />
            <div class="input-group mb-3">
              <textarea class="form-control" name="st_remarks" id="st_remarks" required></textarea>
            </div>
          </div>
        </div>

      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block" name="add_btn">Add</button>
      </div>
    </div>


  </form>
</div>

<% } else if (user.role == 2 || user.role == 3) { %>
<div class="title d-flex">
  <span class="justify-content-start align-self-center position-absolute pl-3" style="font-size: 2rem;">
    <a href="/security_test/<%=officer_details.nric%>" onclick="return confirm('Are you sure you want to return?');" class="backBtn"><i class="fas fa-angle-left"></i></a>
  </span>
  <div class="mx-auto">
    <h4 class="font-weight-bold mb-0">NEW RECORD</h4>
    <p class="mb-0">Security Test</p>
  </div>
</div>
<div class="container-fluid">


  <form action='/security_test/new/<%=officer_details.nric%>/' method="POST" enctype="multipart/form-data">
    <div class="card d-flex mx-auto" style="margin-bottom: 90px">
      <div class="card-header text-left">
        <div class="d-sm-flex flex-sm-row">
          <div class="mr-auto">
            <h6 class="mb-2 font-weight-bold">Name:
              <%=officer_details.fname%>
              <%=officer_details.lname%>
            </h6>
            <p class="mb-2">NRIC:
              <%=officer_details.nric%>
            </p>

            <div class="mb-0">
              Status:&nbsp;
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="overall_status" id="passStatus" value="1" required>
                <label class="form-check-label" for="passStatus">Pass</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="overall_status" id="failStatus" value="0">
                <label class="form-check-label" for="failStatus">Fail</label>
              </div>
            </div>
          </div>

          <div class="col-sm-6 px-0">
            <label for="st_certified_date" class="font-weight-bold mb-0">Test Name:</label>
            <div class="input-group mb-2">
              <input type="text" class="form-control" name="st_name" id="st_name" value="" required>
            </div>
          </div>
        </div>

      </div>
      <div class="card-body text-left">


        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_date">Date:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="st_date" id="st_date" value="" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_time">Time:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control timepicker" name="st_time" id="st_time" value="" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-clock"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_location">Location:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_location" id="st_location" value="" required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_AvSOAPO">APO/AvSO:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_AvSOAPO" id="st_AvSOAPO" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_certExp">Cert Expiration:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_certExp" id="st_certExp" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_svrYr">Year(s) of Service:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_svrYr" id="st_svrYr" value="" required>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_mode">Mode:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_mode" id="st_mode" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_entity">Entity:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_entity" id="st_entity" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_sto">STO:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_sto" id="st_sto" value="" required>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_em">EM:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_em" id="st_em" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_rt">RT:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_rt" id="st_rt" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_so">SO:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_so" id="st_so" value="" required>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_certSeized">Cert Seized:</label><br />
            <div class="input-group mb-3">
              <select class="custom-select" id="st_certSeized" name="st_certSeized" required>
                <option selected>Select</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_cat">Category:</label><br />
            <div class="input-group mb-3">
              <select class="custom-select" id="st_cat" name="st_cat" required>
                <option selected>Select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="st_supervisor">Supervisor:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="st_supervisor" id="st_supervisor" value="" required>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-6">
            <label class="font-weight-bold mb-0" for="st_image">Image:</label><br />
            <div class="input-group mb-3">
              <input type="file" name="st_image" />
              <!-- <input type="file" accept="image/*" name="st_image" capture > -->
            </div>
          </div>
          <div class="col-sm-6">
            <label class="font-weight-bold mb-0" for="st_remarks">Remarks:</label><br />
            <div class="input-group mb-3">
              <textarea class="form-control" name="st_remarks" id="st_remarks" required></textarea>
            </div>
          </div>
        </div>

      </div>

      <% if (user.role == 2) { %>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block" name="add_btn">Add</button>
      </div>
      <% } %>
    </div>


  </form>
</div>

<% } %>
<% include partials/footer %>