<% include partials/header %>
<% include partials/nav %>
<script>
  function UNIXConverter(UNIX_timestamp) {
    try {
      if (UNIX_timestamp == 0 || isNaN(UNIX_timestamp)) {
        return "-";
      }
      var a = new Date(UNIX_timestamp * 1000);
      var year = a.getFullYear();
      var month = a.getMonth() + 1;
      var date = a.getDate();
      if (month < 10) {
        month = "0" + month;
      }
      if (date < 10) {
        date = "0" + date;
      }
      var time = date + '/' + month + '/' + year;
      return time;
    } catch (error) {
      return "";
    }
  }

  $(document).ready(function () { // sets the value grabbed from firebase to the textboxes.
    $('input[name=overall_status][value=' +<%=ac_details.overall_status %> +']').attr('checked', 'checked');
    $('input[name=ac_theory_status][value=' +<%=ac_details.theory.status %> +']').attr('checked', 'checked');
    $('input[name=ac_hhmd_status][value=' +<%=ac_details.hhmd.status %> +']').attr('checked', 'checked');
    $('input[name=ac_pds_status][value=' +<%=ac_details.pds.status %> +']').attr('checked', 'checked');
    $('input[name=ac_wtmd_status][value=' +<%=ac_details.wtmd.status %> +']').attr('checked', 'checked');
    $('input[name=ac_etd_status][value=' +<%=ac_details.etd.status %> +']').attr('checked', 'checked');
    $('input[name=ac_mbs_status][value=' +<%=ac_details.mbs.status %> +']').attr('checked', 'checked');
    $('input[name=ac_vs_status][value=' +<%=ac_details.vs.status %> +']').attr('checked', 'checked');

    $('input[name=certified_date]').datepicker("setDate", UNIXConverter(<%=ac_details.certified_date %>));
    $('input[name=ac_theory]').datepicker("setDate", UNIXConverter(<%=ac_details.theory.date %>));
    $('input[name=ac_hhmd]').datepicker("setDate", UNIXConverter(<%=ac_details.hhmd.date %>));
    $('input[name=ac_pds]').datepicker("setDate", UNIXConverter(<%=ac_details.pds.date %>));
    $('input[name=ac_wtmd]').datepicker("setDate", UNIXConverter(<%=ac_details.wtmd.date %>));
    $('input[name=ac_etd]').datepicker("setDate", UNIXConverter(<%=ac_details.etd.date %>));
    $('input[name=ac_mbs]').datepicker("setDate", UNIXConverter(<%=ac_details.mbs.date %>));
    $('input[name=ac_vs]').datepicker("setDate", UNIXConverter(<%=ac_details.vs.date %>));

    $("#ACForm").on("submit", function (e) { // this part of the code is for the confirmation alert when pressing the edit or delete button.
      var alert = confirm("Are you sure you want to edit/delete the Access Control?");
      if (alert == true) {
        return true;
      } else {
        e.preventDefault();
        return false;
      }
    });

    var user_role = <%=user.role %>;
    if (user_role > 1) {
      $("input[type=text]").attr('readonly', true);
      $("input[type=radio]").attr('disabled', true);
    }

  });

</script>
<div class="container-fluid">
  <h4 class="mt-4">Access Control Record</h4>
  <hr>


  <form action='/access_control/<%=officer_details.nric%>/<%=ac_id%>' method="POST" id="ACForm">
    <div class="card d-flex mx-auto mb-5">
      <div class="card-header text-left">
        <div class="d-sm-flex flex-sm-row">
          <div class="mr-auto">
            <h6 class="mb-1 font-weight-bold">Name:
              <%=officer_details.fname%>
              <%=officer_details.lname%>
            </h6>
            <p class="mb-2">NRIC:
              <%=officer_details.nric%>
            </p>

            <div class="mb-1">
              Status:&nbsp;
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="overall_status" id="passStatus" value="1" <% if
                  (user.role> 1) { %> disabled
                <% } %> required>
                <label class="form-check-label" for="passStatus">Pass</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="overall_status" id="failStatus" value="0" <% if
                  (user.role> 1) { %> disabled
                <% } %> >
                <label class="form-check-label" for="failStatus">Fail</label>
              </div>
            </div>
          </div>

          <div>

            <div>
              <label for="ac_certified_date" class="font-weight-bold">Certified Date:</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control datepicker" name="certified_date" id="ac_certified_date" value=""
                  <% if (user.role> 1) { %> readonly
                <% } %>
                required>
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="card-body">

        <div class="row mb-2 justify-content-center">
          <div class="col-sm-4">
            <label class="font-weight-bold" for="ac_theory">Theory:&nbsp;</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac_theory_status" id="ac_theory_pass" value="1" <% if
                (user.role> 1) { %> disabled
              <% } %> required>
              <label class="form-check-label" for="ac_theory_pass">Pass</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac_theory_status" id="ac_theory_fail" value="0" <% if
                (user.role> 1) { %> disabled
              <% } %> >
              <label class="form-check-label" for="ac_theory_fail">Fail</label>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="ac_theory" id="ac_theory" value="" <% if
                (user.role> 1) { %> readonly
              <% } %> required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold" for="ac_hhmd">HHMD:&nbsp;</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac_hhmd_status" id="ac_hhmd_pass" value="1" <% if
                (user.role> 1) { %> disabled
              <% } %> required>
              <label class="form-check-label" for="ac_hhmd_pass">Pass</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac_hhmd_status" id="ac_hhmd_fail" value="0">
              <label class="form-check-label" for="ac_hhmd_fail">Fail</label>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="ac_hhmd" id="ac_hhmd" value="" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold" for="ac_pds">PDS:&nbsp;</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac_pds_status" id="ac_pds_pass" value="1" required>
              <label class="form-check-label" for="ac_pds_pass">Pass</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac_pds_status" id="ac_pds_fail" value="0">
              <label class="form-check-label" for="ac_pds_fail">Fail</label>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="ac_pds" id="ac_pds" value="" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2 justify-content-center">
          <div class="col-sm-4">
            <label class="font-weight-bold" for="ac_wtmd">WTMD:&nbsp;</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac_wtmd_status" id="ac_wtmd_pass" value="1" required>
              <label class="form-check-label" for="ac_wtmd_pass">Pass</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac_wtmd_status" id="ac_wtmd_fail" value="0">
              <label class="form-check-label" for="ac_wtmd_fail">Fail</label>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="ac_wtmd" id="ac_wtmd" value="" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold" for="ac_etd">ETD:&nbsp;</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac_etd_status" id="ac_etd_pass" value="1" required>
              <label class="form-check-label" for="ac_etd_pass">Pass</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac_etd_status" id="ac_etd_fail" value="0">
              <label class="form-check-label" for="ac_etd_fail">Fail</label>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="ac_etd" id="ac_etd" value="" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold" for="ac_mbs">MBS:&nbsp;</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac_mbs_status" id="ac_mbs_pass" value="1" required>
              <label class="form-check-label" for="ac_mbs_pass">Pass</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac_mbs_status" id="ac_mbs_fail" value="0">
              <label class="form-check-label" for="ac_mbs_fail">Fail</label>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="ac_mbs" id="ac_mbs" value="" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold" for="ac_vs">VS:&nbsp;</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac_vs_status" id="ac_vs_pass" value="1" required>
              <label class="form-check-label" for="ac_vs_pass">Pass</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac_vs_status" id="ac_vs_fail" value="0">
              <label class="form-check-label" for="ac_vs_fail">Fail</label>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="ac_vs" id="ac_vs" value="" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <% if (user.role == 1) { %>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block" name="edit_btn">Update</button>
        <button type="submit" class="btn btn-danger btn-block" name="delete_btn">Delete</button>
      </div>
      <% } %>
    </div>


  </form>

</div>

<% include partials/footer %>