<% include partials/header %>
<% include partials/nav %>

<%
function UNIXConverter(UNIX_timestamp){
  try {
    if (UNIX_timestamp == 0) {
      return "";
    }
    var a = new Date(UNIX_timestamp * 1000);
    var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
    var year = a.getFullYear();
    var month = a.getMonth() + 1;
    var date = a.getDate();
    var hour = a.getHours();
    var min = a.getMinutes();
    var sec = a.getSeconds();
    var time = date + '/' + month + '/' + year;
    return time;
  } catch (error) {
    return "";
  }
}

function getKeyByValue(object, value) {
  return Object.keys(object).find(key => object[key] === value);
}
%>
<div class="container-fluid">
  <h4 class="mt-4">Access Control -
    <%=officer_details.nric%>
  </h4>
  <hr>

  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link active" href="#">AC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/general_screener/<%=officer_details.nric%>">GS</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false">Xray</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/xray_hbs/<%=officer_details.nric%>">Xray HBS</a>
        <a class="dropdown-item" href="/xray_pb/<%=officer_details.nric%>">Xray PB</a>
        <a class="dropdown-item" href="/xray_cargo/<%=officer_details.nric%>">Xray Cargo</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false">ST & SB</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/security_test/<%=officer_details.nric%>">Security Test</a>
        <a class="dropdown-item" href="/security_breach/<%=officer_details.nric%>">Security Breach</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/others/<%=officer_details.nric%>">Others</a>
    </li>
  </ul>

  <table class="table table-hover table-bordered table-striped table-responsive-sm col-sm-10 mx-auto p-0 mb-4">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Status</th>
        <th>Certified Date</th>
      </tr>
    </thead>
    <% if (ac_details == null) { %>
    <tr>
      <td class="mx-auto text-danger" colspan="3">Officer does not have any existing certificates.</td>
    </tr>
    <% } else { %>

    <%
    var keys=[];

    var sorted_ac_details = Object.keys(ac_details).sort(function(a,b) {
      return ac_details[b].certified_date - ac_details[a].certified_date;
    }).map(function(category) {
      var key = getKeyByValue(ac_details, ac_details[category]);
      keys.push(key);
      return ac_details[category];
    });
    console.log(keys);
    console.log(sorted_ac_details);
    %>
    <%
    var i = 1;
    for (var access_control_index in sorted_ac_details) { %>
    <tr class='clickable-row' data-href='/access_control/<%=officer_details.nric%>/<%=keys[access_control_index]%>'>
      <td>
          <%=i%>
      </td>
      <% if (sorted_ac_details[access_control_index].overall_status == "1") { %>
      <td>
        PASS
      </td>
      <% } else { %>
      <td class="text-danger">
        FAIL
      </td>
      <% } %>
      <td>
        <%=UNIXConverter(sorted_ac_details[access_control_index].certified_date)%>
      </td>
    </tr>

    <%
        i++;
    }
    %>
    <% } //CLOSE BRACKET FOR ELSE STATEMENT%>
  </table>

  <div class="mb-4 col-11 mx-auto">
    <% if (user.role == 1) { %>
    <a href="/access_control/new/<%=officer_details.nric%>" class="btn btn-primary col-sm-6">Add New Record</a>
    <% } %>

  </div>
</div>

<% include partials/footer %>
