<% include partials/header %>
<% include partials/nav %>

<%

var roles = ["Administrator", "User", "Read-only User"];

function UNIXConverter(UNIX_timestamp){
  try {
    if (UNIX_timestamp == 0) {
      return "";
    }
    var a = new Date(UNIX_timestamp * 1000);
    var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
    var year = a.getFullYear();
    var month = a.getMonth() + 1;
    var date = a.getDate();
    var hour = a.getHours();
    var min = a.getMinutes();
    var sec = a.getSeconds();
    var time = date + '/' + month + '/' + year;
    return time;
  } catch (error) {
    return "";
  }
}
%>
<div class="container-fluid">

  <h4 class="mt-4">Administration</h4>
  <hr>
  <table class="table table-hover table-bordered table-striped table-responsive-sm col-sm-10 mx-auto pl-0">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>NRIC</th>
        <th>Role</th>
      </tr>
    </thead>
    <% for (var admin_id in admin_details) { %>
    <tr class='clickable-row' data-href='/admin/view/<%=admin_id%>'>
      <td>
        <%=admin_details[admin_id].fname%>
        <%=admin_details[admin_id].lname%>
      </td>
      <td>
        <%=admin_details[admin_id].nric%>
      </td>
      <td>
        <%=roles[admin_details[admin_id].role - 1]%>
      </td>
    </tr>
    <% } %>
  </table>

  <div class="mb-4 col-11 mx-auto">
    <% if (user.role == 1) { %>
    <a href="/admin/new/" class="btn btn-primary col-sm-6">Add New User</a>
    <% } %>

  </div>

  <% include partials/footer %>