<% include partials/header %>
<% var error; %>
<script>
  var availableTags = [
    "<%=s1%>",
    "<%=s2%>",
    "<%=s3%>",
    "<%=s4%>",
    "<%=s5%>"
  ];
</script>

<link href="css/main.css" rel="stylesheet">

<div class="container-fluid">
  <div class="row">
    &nbsp;
  </div>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8" id="welcome">
      <% if (error != null) { %>
      <h5>Error! The NRIC does not exist</h5>
      <% } %>
      <h4>Welcome, Admin</h4>
      <hr>
      <h6>Who do you want to search for today?</h6>
      </br>
      <form action="/" method="POST">
        <div class="input-group col align-self-center">
          <input type="text" placeholder="Search Officer NRIC" class="form-control col-7 text-center" name="search_nric"
            id="search_nric" size="9" maxlength="9">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
        </div>
      </form>
      <a class="btn btn-primary col-5 text-center" href="#">Administrators</a></br>
      <a class="btn btn-primary col-5 text-center" href="/officers/">Officers</a>
    </div>
  </div>
</div>

<% include partials/footer %>