<% include partials/header %>
<% var error; %>
<script>
  var availableTags = [
    "<%=s1%>",
    "<%=s2%>",
    "<%=s3%>",
    "<%=s4%>",
    "<%=s5%>"
  ];
</script>

<nav class="navbar sticky-top justify-content-end">

  <% if (user) { %>
  <a class="btn btn-primary my-2 my-sm-0" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
  <% } else { %>
  <a class="btn btn-primary my-2 my-sm-0" href="/login"><i class="fas fa-sign-in-alt"></i></a>
  <% } %>

</nav>

<div class="index-container d-flex">
  <div class="row align-self-center w-100">
    <div class="col-6 mx-auto">
      <% if (error != null) { %>
      <h5>Error! The NRIC does not exist</h5>
      <% } %>
      <h4>Welcome,
        <%=user.fname%>
        <%=user.lname%>
      </h4>
      <hr id="index-hr">
      <h6>Who do you want to search for today?</h6>
      </br>
      <form action="/" method="POST">
        <div class="input-group mb-3 mx-auto" id="searchInput">
          <input type="text" class="form-control" placeholder="Search Officer's NRIC" name="search_nric" id="search_nric"
            aria-describedby="search_nric" size="9" maxlength="9">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="search_nric"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      <a class="btn btn-primary col-5 text-center" href="/admin/">Administrators</a></br>
      <a class="btn btn-primary col-5 text-center" href="/officers/">Officers</a>
    </div>
  </div>
</div>

<% include partials/footer %>