<% include partials/header %>
<% include partials/nav %>
<%
function UNIXConverter(UNIX_timestamp){
  try {
    if (UNIX_timestamp == 0 || isNaN(UNIX_timestamp)) {
      return "-";
    }
    var a = new Date(UNIX_timestamp * 1000);
    var year = a.getFullYear();
    var month = a.getMonth() + 1;
    var date = a.getDate();
    if (month < 10) {
      month = "0" + month;
    }
    if (date < 10) {
      date = "0" + date;
    }
    var time = date + '/' + month + '/' + year;
    return time;
  } catch (error) {
    return "";
  }
}
%>
<div class="container-fluid">
  <h4 class="mt-4">Access Control - Select Officer</h4>
  <hr>
  <table class="table table-hover table-bordered table-striped table-responsive-sm col-sm-10 mx-auto p-0">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>NRIC</th>
        <th>Certification Card No.</th>
        <th>Designation</th>
      </tr>
    </thead>
    <% for (var key in officer_details) { %>
    <tr class='clickable-row' data-href='/access_control/<%=key%>/'>
      <td>
        <%=officer_details[key].fname%>
        <%=officer_details[key].lname%>
      </td>
      <td>
        <%=key%>
      </td>
      <td>
        <%=officer_details[key].cert_card_no%>
      </td>
      <td>
        <%=officer_details[key].designation%>
      </td>
    </tr>
    <% } %>
  </table>

</div>

<% include partials/footer %>