<% include partials/header %>
<% include partials/nav %>
<%
function UNIXConverter(UNIX_timestamp){
  try {
    if (UNIX_timestamp == 0 || isNaN(UNIX_timestamp)) {
      return "-";
    }
    var a = new Date(UNIX_timestamp * 1000);
    var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
    var year = a.getFullYear();
    var month = a.getMonth() + 1;
    var date = a.getDate();
    var hour = a.getHours();
    var min = a.getMinutes();
    var sec = a.getSeconds();
    var time = date + '/' + month + '/' + year;
    return time;
  } catch (error) {
    return "";
  }
}


//iterate through the certification details to get that particular record.
var dob = 0;
var gs_date=0;
var ac_date=0;
var xray_hbs_date = 0;
var xray_pb_date = 0;
var xray_cargo_date = 0;

if (gs_details != null) {
  for (var id in gs_details) { // since you're not sure of the latest ID, iterate to get the ID.
    gs_date = gs_details[id].certified_date;
  }
}

if (ac_details != null) {
  for (var id in ac_details) { // since you're not sure of the latest ID, iterate to get the ID.
    ac_date = ac_details[id].certified_date;
  }
}

if (xray_hbs_details != null) {
  for (var id in xray_hbs_details) { // since you're not sure of the latest ID, iterate to get the ID.
    xray_hbs_date = xray_hbs_details[id].certified_date;
  }
}

if (xray_pb_details != null) {
  for (var id in xray_pb_details) { // since you're not sure of the latest ID, iterate to get the ID.
    xray_pb_date = xray_pb_details[id].certified_date;
  }
}

if (xray_cargo_details != null) {
  for (var id in xray_cargo_details) { // since you're not sure of the latest ID, iterate to get the ID.
    xray_cargo_date = xray_cargo_details[id].certified_date;
  }
}

// in some cases, there will not be any XRAY fields upon creation of officers, therefore this is used as a safe check.

/*var etd_date=0;
var front_loader_date=0;

if (officer_details.certification !== undefined) {
  if (officer_details.certification.etd != null) { etd_date = officer_details.certification.etd; }
  if (officer_details.certification.front_loader != null) { front_loader_date = officer_details.certification.front_loader; }
  
  dob = officer_details.dob;
}*/

%>
<div class="container-fluid">
  <h4 class="mt-4">
    <%=officer_details.fname%>
    <%=officer_details.lname%>'s Details</h4>
  <hr>

  <form action='/officers/<%=nric%>/' method="POST">
    <div class="card d-flex mx-auto mb-5 text-left">
      <div class="card-body px-4">
        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="fname">First Name:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="fname" id="fname" value="<%=officer_details.fname%>" <% if
                (user.role> 1) { %> readonly
              <% } %> required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="lname">Last Name:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="lname" id="lname" value="<%=officer_details.lname%>" <% if
                (user.role> 1) { %> readonly
              <% } %> required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="nric">NRIC:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="nric" id="nric" value="<%=nric%>" <% if (user.role> 1) {
              %>
              readonly
              <% } %> required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="dob">D.O.B.:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="dob" id="dob" value="<%=UNIXConverter(dob)%>"
                required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="gender">Gender:</label><br />
            <div class="input-group mb-3">
              <% if (officer_details.gender == "0") { } %>
              <select class="custom-select" id="gender" name="gender" <% if (user.role> 1) { %> readonly
                <% } %> required>
                <option value="0" <% if (officer_details.gender=="0" ) {%> selected
                  <% } %>>Male</option>
                <option value="1" <% if (officer_details.gender=="1" ) {%> selected
                  <% } %>>Female</option>
              </select>
            </div>
          </div>
        </div>
        <hr>
        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="cert_card_no">Certification Card No.:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="cert_card_no" id="cert_card_no" value="<%=officer_details.cert_card_no%>"
                <% if (user.role> 1) { %> readonly
              <% } %> required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="organisation">Organisation:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="organisation" id="organisation" value="<%=officer_details.organisation%>"
                <% if (user.role> 1) { %> readonly
              <% } %> required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="serial_no">Serial No.:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="serial_no" id="serial_no" value="<%=officer_details.serial_no%>"
                <% if (user.role> 1) { %> readonly
              <% } %> required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="designation">Designation:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="designation" id="designation" value="<%=officer_details.designation%>"
                <% if (user.role> 1) { %> readonly
              <% } %> required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="rank">Rank:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="rank" id="rank" value="<%=officer_details.rank%>" <% if
                (user.role> 1) { %> readonly
              <% } %> required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <label class="font-weight-bold mb-0" for="remarks">Remarks:</label><br />
            <div class="input-group mb-3">
              <textarea class="form-control" name="remarks" id="remarks" <% if (user.role> 1) { %> readonly <% } %>><%=officer_details.remarks%></textarea>
            </div>
          </div>
        </div>

        <hr>
        <h5 class="card-title text-center my-3">Certified On:</h5>
        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="general_screener">General Screener:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="general_screener" id="general_screener" value="<%=UNIXConverter(gs_date)%>" readonly
                <% if (user.role> 1) { %> readonly
              <% } %> disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="access_control">Access Control:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="access_control" id="access_control" value="<%=UNIXConverter(ac_date)%>" readonly
                <% if (user.role> 1) { %> readonly
              <% } %> disabled>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="xray_hbs">Xray HBS:</label><br />
            <div class="input-group mb-3">
<<<<<<< .mine
              <input type="text" class="form-control" name="xray_hbs" id="xray_hbs" value="<%=UNIXConverter(xray_hbs_date)%>" readonly
=======
              <input type="text" class="form-control datepicker" name="xray_hbs" id="xray_hbs" value="<%=UNIXConverter(xray_hbs_date)%>"
>>>>>>> .theirs
                <% if (user.role> 1) { %> readonly
              <% } %> disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="xray_pb">Xray PB:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="xray_pb" id="xray_pb" value="<%=UNIXConverter(xray_pb_date)%>" readonly
                <% if (user.role> 1) { %> readonly
              <% } %> disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="xray_cargo">Xray Cargo:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="xray_cargo" id="xray_cargo" value="<%=UNIXConverter(xray_cargo_date)%>" readonly
                <% if (user.role> 1) { %> readonly
              <% } %> disabled>
            </div>
          </div>
        </div>
      </div>

      <% if (user.role == 1) { %>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block" name="update_btn">Update</button>
        <button type="submit" class="btn btn-danger btn-block" name="delete_btn">Delete</button>
      </div>
      <% } %>
    </div>
  </form>
</div>


<% include partials/footer %>