<% include partials/header %>
<% include partials/nav %>


<% if (user.role == 1) { %>
<% if (!Array.isArray(notif) || !notif.length) { %>
<div class="mt-3">
  <% for (var key in notif) { %>
  <%  if (notif[key] != null) { %>
  <div class="alert alert-warning alert-dismissible fade show mx-auto col-11 col-sm-6 mb-1" role="alert">
    <%= notif[key] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
  <% } %>
</div>
<% } %>
<div class="container-fluid">
  <h4 class="mt-4">
    <%=officer_details.fname%>
    <%=officer_details.lname%>'s Details</h4>
  <hr>

  <form action='/officers/<%=officer_details.nric%>/' method="POST">
    <div class="card d-flex mx-auto mb-5 text-left">
      <div class="card-body px-4">
        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="fname">First Name:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="fname" id="fname" value="<%=officer_details.fname%>"
                required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="lname">Last Name:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="lname" id="lname" value="<%=officer_details.lname%>"
                required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="nric">NRIC:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control nric_textbox" name="nric" id="nric" style="text-transform: uppercase" value="<%=officer_details.nric%>"
                required disabled>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="dob">D.O.B.:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="dob" id="dob" value="<%=officer_details.dob%>"
                required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="gender">Gender:</label><br />
            <div class="input-group mb-3">
              <% if (officer_details.gender == "0") { } %>
              <select class="custom-select" id="gender" name="gender" required>
                <option value="0" <% if (officer_details.gender=="0" ) {%> selected
                  <% } %>>Male</option>
                <option value="1" <% if (officer_details.gender=="1" ) {%> selected
                  <% } %>>Female</option>
              </select>
            </div>
          </div>
        </div>
        <hr>
        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="cert_card_no">Certification Card No.:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="cert_card_no" id="cert_card_no" value="<%=officer_details.cert_card_no%>"
                required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="organisation">Organisation:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="organisation" id="organisation" value="<%=officer_details.organisation%>"
                required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="serial_no">Serial No.:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="serial_no" id="serial_no" value="<%=officer_details.serial_no%>"
                required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="designation">Designation:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="designation" id="designation" value="<%=officer_details.designation%>"
                required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="rank">Rank:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="rank" id="rank" value="<%=officer_details.rank%>" required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <label class="font-weight-bold mb-0" for="remarks">Remarks:</label><br />
            <div class="input-group mb-3">
              <textarea class="form-control" name="remarks" id="remarks"><%=officer_details.remarks%></textarea>
            </div>
          </div>
        </div>

        <hr>
        <h5 class="card-title text-center my-3">Certified On:</h5>
        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="access_control">Access Control:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="access_control" id="access_control" value="<%=ac_date%>"
                disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="general_screener">General Screener:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="general_screener" id="general_screener" value="<%=gs_date%>"
                readonly disabled>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="xray_hbs">X-Ray HBS:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="xray_hbs" id="xray_hbs" value="<%=xray_hbs_date%>"
                disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="xray_pb">X-Ray Pre-Board:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="xray_pb" id="xray_pb" value="<%=xray_pb_date%>"
                disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="xray_cargo">X-Ray Cargo:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="xray_cargo" id="xray_cargo" value="<%=xray_cargo_date%>"
                disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block" name="update_btn">Update</button>
        <button type="submit" class="btn btn-danger btn-block" name="delete_btn">Delete</button>
      </div>
    </div>
  </form>
</div>

<% } else if (user.role == 2 || user.role == 3) { %>
<div class="title d-flex">
  <span class="justify-content-start align-self-center position-absolute pl-3" style="font-size: 2rem;">
    <a href="/" class="backBtn"><i class="fas fa-angle-left"></i></a>
  </span>
  <h4 class="mx-auto mt-2">
    <%=officer_details.fname%>
    <%=officer_details.lname%>'s Record</h4>
</div>
<div class="container-fluid">
  <% if (!Array.isArray(notif) || !notif.length) { %>
  <div class="mb-4">
    <% for (var key in notif) { %>
    <%  if (notif[key] != null) { %>
    <div class="alert alert-warning alert-dismissible fade show mx-auto col-11 col-sm-6 mb-1" role="alert">
      <%= notif[key] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    <% } %>
  </div>
  <% } %>

  <div class="card d-flex mx-auto text-left" style="margin-bottom: 90px">
    <div class="card-header text-left">
      <div class="d-sm-flex flex-sm-row">
        <div class="mr-auto">
          <p class="mb-0">NRIC:
            <%=officer_details.nric%>
          </p>
          <p class="mb-0">DOB:
            <%=officer_details.dob%>
          </p>
          <p class="mb-0">Gender:
            <% if (officer_details.gender=="0" ) {%>
            M
            <% } %>
            <% if (officer_details.gender=="1" ) {%>
            F
            <% } %>
          </p>
        </div>
      </div>

    </div>
    <div class="card-body px-4 py-3">

      <h5 class="card-title text-center">Certified On:</h5>
      <div class="row mb-2">
        <div class="col-sm-4">
          <label class="font-weight-bold mb-0" for="access_control">Access Control:</label><br />
          <div class="input-group mb-3">
            <input type="text" class="form-control datepicker" name="access_control" id="access_control" value="<%=ac_date%>"
              readonly>
          </div>
        </div>
        <div class="col-sm-4">
          <label class="font-weight-bold mb-0" for="general_screener">General Screener:</label><br />
          <div class="input-group mb-3">
            <input type="text" class="form-control datepicker" name="general_screener" id="general_screener" value="<%=gs_date%>"
              readonly>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-4">
          <label class="font-weight-bold mb-0" for="xray_hbs">X-Ray HBS:</label><br />
          <div class="input-group mb-3">
            <input type="text" class="form-control datepicker" name="xray_hbs" id="xray_hbs" value="<%=xray_hbs_date%>"
              readonly>
          </div>
        </div>
        <div class="col-sm-4">
          <label class="font-weight-bold mb-0" for="xray_pb">X-Ray Pre-Board:</label><br />
          <div class="input-group mb-3">
            <input type="text" class="form-control datepicker" name="xray_pb" id="xray_pb" value="<%=xray_pb_date%>"
              readonly>
          </div>
        </div>
        <div class="col-sm-4">
          <label class="font-weight-bold mb-0" for="xray_cargo">X-Ray Cargo:</label><br />
          <div class="input-group mb-0">
            <input type="text" class="form-control datepicker" name="xray_cargo" id="xray_cargo" value="<%=xray_cargo_date%>"
              readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary btn-block" href="/security_test/<%=officer_details.nric%>">ST Records</a>
      <a class="btn btn-primary btn-block" href="/security_breach/<%=officer_details.nric%>">SB Records</a>
    </div>
  </div>

  <% } %>

  <% include partials/footer %>