<% include partials/header %>
<% include partials/nav %>
<% var roles = ["Administrator", "User", "Read-only User"]; %>
<% if (user.role == 2 || user.role == 3) { %>
<div class="title">
  <h4>My Profile</h4>
</div>

<div class="index-container d-flex">
  <div class="align-self-center w-100">
    <div class="col-sm-6 mx-auto px-2">
      <h4 class="mb-1">
        <%=user.fname%>
        <%=user.lname%>
      </h4>
      <p class="mb-2">
        <%=roles[user.role - 1] %>
      </p>
      <p class="mb-0">Username:
        <%=user.username%>
      </p>
      <p>NRIC:
        <%=user.nric%>
      </p>

    </div>
    <div class="col-md-4 mx-auto mb-5">
      <a class="btn btn-primary col-6 text-center" href="/admin/changepw/<%=user.username%>">Change
        Password</a>
    </div>
    <br>
    <% if (user) { %>
    <a class="btn btn-primary my-2 my-sm-0" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    <% } else { %>
    <a class="btn btn-primary my-2 my-sm-0" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
    <% } %>

  </div>
</div>


<% } %>

<% include partials/footer %>