<% include partials/header %>
<% include partials/nav %>

<%
function UNIXConverter(UNIX_timestamp){
  try {
    if (UNIX_timestamp == 0 || isNaN(UNIX_timestamp)) {
      return "-";
    }
    var a = new Date(UNIX_timestamp * 1000);
    var year = a.getFullYear();
    var month = a.getMonth() + 1;
    var date = a.getDate();
    if (month < 10) {
      month = "0" + month;
    }
    if (date < 10) {
      date = "0" + date;
    }
    var time = date + '/' + month + '/' + year;
    return time;
  } catch (error) {
    return "";
  }
}

function getKeyByValue(object, value) {
  return Object.keys(object).find(key => object[key] === value);
}
%>
<div class="container-fluid">
  <h4 class="mt-4">Security Test Failures
  </h4>
  <hr>

  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link active" href="#">ST</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/securitybreach">SB</a>
    </li>
  </ul>

  <table class="table table-hover table-bordered table-striped table-responsive-sm col-sm-10 mx-auto p-0 mb-4">
    <thead class="thead-light">
      <tr>
        <th>Test Name</th>
        <th>Name</th>
        <th>NRIC</th>
        <th>Location</th>
        <th>Date</th>
        <th>Time</th>
        <th>Mode</th>
      </tr>
    </thead>
    <% if ('undefined'===typeof officersSec || officersSec == null) { %>
    <tr>
      <td class="mx-auto text-danger" colspan="3">Officer does not have any existing certificates.</td>
    </tr>
    <% } else { %>

    <%
    for (var i=0; i<officersSec.length; i++) { %>
    <tr class='clickable-row' data-href='/security_test/<%=officersSec[i].nric%>/<%=officersSec[i].stId%>'>
      <td>
        <%=officersSec[i].stName%>
      </td>
      <td>
        <%=officersSec[i].name%>
      </td>
      <td>
        <%=officersSec[i].nric%>
      </td>
      <td>
        <%=officersSec[i].location%>
      </td>
      <td>
        <%=UNIXConverter(officersSec[i].date)%>
      </td>
      <td>
        <%=officersSec[i].time%>
      </td>
      <td>
        <%=officersSec[i].mode%>
      </td>
    </tr>

    <%
    }
    %>
    <% } //CLOSE BRACKET FOR ELSE STATEMENT%>
  </table>
</div>

<% include partials/footer %>