<% include partials/header %>
<% include partials/nav %>
<script>
  function UNIXConverter(UNIX_timestamp) {
    try {
      if (UNIX_timestamp == 0 || isNaN(UNIX_timestamp)) {
        return "-";
      }
      var a = new Date(UNIX_timestamp * 1000);
      var year = a.getFullYear();
      var month = a.getMonth() + 1;
      var date = a.getDate();
      if (month < 10) {
        month = "0" + month;
      }
      if (date < 10) {
        date = "0" + date;
      }
      var time = date + '/' + month + '/' + year;
      return time;
    } catch (error) {
      return "";
    }
  }

  $(document).ready(function () { // the whole function below sets the value of the general screener (from firebase) to the various textboxes. this is a neater way to do it as compared to doing it in the value fields.

    $('input[name=sb_name]').val('<%=sb_details.sb_name %>');
    $('input[name=sb_date]').datepicker("setDate", UNIXConverter(<%=sb_details.sb_date %>));
    $('input[name=sb_time]').val('<%=sb_details.sb_time %>');
    $('input[name=sb_location]').val('<%=sb_details.sb_location %>');
    $('input[name=sb_breachOff]').val('<%=sb_details.sb_breachOff %>');
    $('input[name=sb_personInv]').val('<%=sb_details.sb_personInv %>');
    $('input[name=sb_supervisor]').val('<%=sb_details.sb_supervisor %>');
    $('input[name=sb_contact]').val('<%=sb_details.sb_contact %>');
    $('input[name=sb_entity]').val('<%=sb_details.sb_entity %>');
    $('input[name=sb_certExpOrAPno]').val('<%=sb_details.sb_certExpOrAPno %>');
    $('input[name=sb_detect]').val('<%=sb_details.sb_detect %>');
    $('input[name=sb_certSeized]').val('<%=sb_details.sb_certSeized %>');
    $('input[name=sb_cat]').val('<%=sb_details.sb_cat %>');
    $('input[name=sb_image]').val('<%=sb_details.sb_image %>');
    $('textarea[name=sb_remarks]').val('<%=sb_details.sb_remarks %>');

    $("#SBForm").on("submit", function (e) { // this part of the code is for the confirmation alert when pressing the edit or delete button.
      var alert = confirm("Are you sure you want to edit/delete the Security Breach?");
      if (alert == true) {
        return true;
      } else {
        e.preventDefault();
        return false;
      }
    });

    var user_role = <%=user.role %>;
    if (user_role > 2) {
      $("input[type=text]").attr('readonly', true);
      $("select").attr('disabled', true);
      $("textarea").attr('disabled', true);
      $("input[type=radio]").attr('disabled', true);
    }
  });
</script>
<% if (user.role == 1) { %>
<div class="container-fluid">
  <h4 class="mt-4">Security Breach Record</h4>
  <hr>


  <form action='/security_breach/<%=officer_details.nric%>/<%=sb_id%>' method="POST" enctype="multipart/form-data" id="SBForm">
    <div class="card d-flex mx-auto mb-5">
      <div class="card-header text-left">
        <div class="d-sm-flex flex-sm-row">
          <div class="mr-auto mt-1">
            <h6 class="mb-2 font-weight-bold">Name:
              <%=officer_details.fname%>
              <%=officer_details.lname%>
            </h6>
            <p class="mb-0">NRIC:
              <%=officer_details.nric%>
            </p>
          </div>

          <div class="col-sm-6 px-0">
            <label class="font-weight-bold mb-0" for="sb_name">Test Name:</label><br />
            <div class="input-group mb-2">
              <input type="text" class="form-control" name="sb_name" id="sb_name" value="" required>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body text-left">


        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_date">Date:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="sb_date" id="sb_date" value="" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_time">Time:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control timepicker" name="sb_time" id="sb_time" value="" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-clock"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_location">Location:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_location" id="sb_location" value="" required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_breachOff">Breach Offense:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_breachOff" id="sb_breachOff" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_personInv">Person Involved:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_personInv" id="sb_personInv" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_supervisor">Supervisor:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_supervisor" id="sb_supervisor" value="" required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_contact">Contact:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_contact" id="sb_contact" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_entity">Entity:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_entity" id="sb_entity" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_certExpOrAPno">Cert Expiry or A/P no.:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_certExpOrAPno" id="sb_certExpOrAPno" value="" required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_detect">Detecting Officer:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_detect" id="sb_detect" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_certSeized">Cert Seized:</label><br />
            <div class="input-group mb-3">
              <select class="custom-select" id="sb_certSeized" name="sb_certSeized" required>
                <option value="1" <% if (sb_details.sb_certSeized=="1" ) {%> selected
                  <% } %>>Yes</option>
                <option value="0" <% if (sb_details.sb_certSeized=="0" ) {%> selected
                  <% } %>>No</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_cat">Category:</label><br />
            <div class="input-group mb-3">
              <select class="custom-select" id="sb_cat" name="sb_cat" required>
                <option value="1" <% if (sb_details.sb_cat=="1" ) {%> selected
                  <% } %>>1</option>
                <option value="2" <% if (sb_details.sb_cat=="2" ) {%> selected
                  <% } %>>2</option>
                <option value="3" <% if (sb_details.sb_cat=="3" ) {%> selected
                  <% } %>>3</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-6">
            <label class="font-weight-bold mb-0" for="sb_image">Image:</label><br />
            <div class="input-group mb-3">
              <img src="/uploads/<%=sb_details.sb_image %>" class="img-fluid">
              <input type="file" name="sb_image" />
            </div>
          </div>
          <div class="col-sm-6">
            <label class="font-weight-bold mb-0" for="sb_remarks">Remarks:</label><br />
            <div class="input-group mb-3">
              <textarea class="form-control" name="sb_remarks" id="sb_remarks" required><%=sb_details.sb_remarks%></textarea>
            </div>
          </div>
        </div>

      </div>

      <% if (user.role < 3) { %>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block" name="edit_btn">Update</button>
        <button type="submit" class="btn btn-danger btn-block" name="delete_btn">Delete</button>
      </div>
      <% } %>
    </div>


  </form>
</div>


<% } else if (user.role == 2 || user.role == 3) { %>
<div class="title d-flex">
  <span class="justify-content-start align-self-center position-absolute pl-3" style="font-size: 2rem;">
    <% if (user.role==2) { %>
    <a href="/security_breach/<%=officer_details.nric%>" onclick="return confirm('Are you sure you want to return?');"
      class=" backBtn"><i class="fas fa-angle-left"></i></a>
    <% } else if (user.role==3) {%>
    <a href="/security_breach/<%=officer_details.nric%>" class="backBtn"><i class="fas fa-angle-left"></i></a>
    <% } %>
  </span>
  <h4 class="mx-auto mt-2">Security Breach Record</h4>
</div>
<div class="container-fluid">

  <form action='/security_breach/<%=officer_details.nric%>/<%=sb_id%>' method="POST" enctype="multipart/form-data" id="SBForm">
    <div class="card d-flex mx-auto" style="margin-bottom: 90px">
      <div class="card-header text-left">
        <div class="d-sm-flex flex-sm-row">
          <div class="mr-auto mt-1">
            <h6 class="mb-2">Name:
              <%=officer_details.fname%>
              <%=officer_details.lname%>
            </h6>
            <p class="mb-0">NRIC:
              <%=officer_details.nric%>
            </p>
          </div>

          <div class="col-sm-6 px-0">
            <label class="font-weight-bold mb-0" for="sb_name">Test Name:</label><br />
            <div class="input-group mb-2">
              <input type="text" class="form-control" name="sb_name" id="sb_name" value="" <% if (user.role==3) {%>
              readonly
              <% } %> required>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body text-left">


        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_date">Date:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="sb_date" id="sb_date" value="" <% if (user.role==3)
                {%>
              readonly
              <% } %> required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_time">Time:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control timepicker" name="sb_time" id="sb_time" value="" <% if (user.role==3)
                {%>
              readonly
              <% } %> required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-clock"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_location">Location:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_location" id="sb_location" value="" <% if (user.role==3)
                {%>
              readonly
              <% } %> required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_breachOff">Breach Offense:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_breachOff" id="sb_breachOff" value="" <% if (user.role==3)
                {%>
              readonly
              <% } %> required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_personInv">Person Involved:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_personInv" id="sb_personInv" value="" <% if (user.role==3)
                {%>
              readonly
              <% } %> required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_supervisor">Supervisor:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_supervisor" id="sb_supervisor" value="" <% if (user.role==3)
                {%>
              readonly
              <% } %> required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_contact">Contact:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_contact" id="sb_contact" value="" <% if (user.role==3)
                {%>
              readonly
              <% } %> required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_entity">Entity:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_entity" id="sb_entity" value="" <% if (user.role==3) {%>
              readonly
              <% } %> required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_certExpOrAPno">Cert Expiry or A/P no.:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_certExpOrAPno" id="sb_certExpOrAPno" value="" <% if
                (user.role==3) {%>
              readonly
              <% } %> required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_detect">Detecting Officer:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="sb_detect" id="sb_detect" value="" <% if (user.role==3) {%>
              readonly
              <% } %> required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_certSeized">Cert Seized:</label><br />
            <div class="input-group mb-3">
              <select class="custom-select" id="sb_certSeized" name="sb_certSeized" <% if (user.role==3) {%>
                readonly
                <% } %> required>
                <option value="1" <% if (sb_details.sb_certSeized=="1" ) {%> selected
                  <% } %>>Yes</option>
                <option value="0" <% if (sb_details.sb_certSeized=="0" ) {%> selected
                  <% } %>>No</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="sb_cat">Category:</label><br />
            <div class="input-group mb-3">
              <select class="custom-select" id="sb_cat" name="sb_cat" <% if (user.role==3) {%>
                readonly
                <% } %> required>
                <option value="1" <% if (sb_details.sb_cat=="1" ) {%> selected
                  <% } %>>1</option>
                <option value="2" <% if (sb_details.sb_cat=="2" ) {%> selected
                  <% } %>>2</option>
                <option value="3" <% if (sb_details.sb_cat=="3" ) {%> selected
                  <% } %>>3</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-6">
            <label class="font-weight-bold mb-0" for="sb_image">Image:</label><br />
            <div class="input-group mb-3">
              <img src="/uploads/<%=sb_details.sb_image %>" class="img-fluid">
              <% if (user.role==2) { %>
              <input type="file" accept="image/*" name="sb_image" capture>
              <!-- <input type="file" name="sb_image" /> -->
              <% } %>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="font-weight-bold mb-0" for="sb_remarks">Remarks:</label><br />
            <div class="input-group mb-3">
              <textarea class="form-control" name="sb_remarks" id="sb_remarks" <% if (user.role==3) {%>
                  readonly
                  <% } %> required><%=sb_details.sb_remarks%></textarea>
            </div>
          </div>
        </div>

      </div>

      <% if (user.role < 3) { %>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block" name="edit_btn">Update</button>
        <button type="submit" class="btn btn-danger btn-block" name="delete_btn">Delete</button>
      </div>
      <% } %>
    </div>


  </form>
</div>
<% } %>

<% include partials/footer %>