<% include partials/header %>
<% include partials/nav %>
<%
function UNIXConverter(UNIX_timestamp){
  try {
    if (UNIX_timestamp == 0 || isNaN(UNIX_timestamp)) {
      return "-";
    }
    var a = new Date(UNIX_timestamp * 1000);
    var year = a.getFullYear();
    var month = a.getMonth() + 1;
    var date = a.getDate();
    if (month < 10) {
      month = "0" + month;
    }
    if (date < 10) {
      date = "0" + date;
    }
    var time = date + '/' + month + '/' + year;
    return time;
  } catch (error) {
    return "";
  }
}

function getKeyByValue(object, value) {
  return Object.keys(object).find(key => object[key] === value);
}
%>
<div class="container-fluid">

  <h4 class="mt-4">Xray PB -
    <%=officer_details.nric%>
  </h4>
  <hr>

  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link" href="/access_control/<%=officer_details.nric%>">AC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/general_screener/<%=officer_details.nric%>">GS</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false">Xray</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/xray_hbs/<%=officer_details.nric%>">Xray HBS</a>
        <a class="dropdown-item" href="#">Xray PB</a>
        <a class="dropdown-item" href="/xray_cargo/<%=officer_details.nric%>">Xray Cargo</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false">ST & SB</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/security_test/<%=officer_details.nric%>">Security Test</a>
        <a class="dropdown-item" href="/security_breach/<%=officer_details.nric%>">Security Breach</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/others/<%=officer_details.nric%>">Others</a>
    </li>
  </ul>

  <table class="table table-hover table-bordered table-striped col-sm-10 mx-auto p-0 mb-4">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Status</th>
        <th>Certified Date</th>
      </tr>
    </thead>
    <% if (xray_pb_details == null) { %>
    <tr>
      <td class="mx-auto text-danger" colspan="3">Officer does not have any existing certificates.</td>
    </tr>
    <% } else { %>

    <%
    var keys=[];

    var sorted_xray_pb_details = Object.keys(xray_pb_details).sort(function(a,b) {
      return xray_pb_details[b].certified_date - xray_pb_details[a].certified_date;
    }).map(function(category) {
      var key = getKeyByValue(xray_pb_details, xray_pb_details[category]);
      keys.push(key);
      return xray_pb_details[category];
    });
    console.log(keys);
    console.log(sorted_xray_pb_details);
    %>

    <% var i = 1 %>
    <% for (var xray_pb_index in sorted_xray_pb_details) { %>
    <% var status; %>
    <tr class='clickable-row' data-href='/xray_pb/<%=officer_details.nric%>/<%=keys[xray_pb_index]%>'>
      <td>
        <%=i%>
        <% i++ %>
      </td>
      <% if (sorted_xray_pb_details[xray_pb_index].overall_status == "1") { %>
      <td>
        PASS
      </td>
      <% } else { %>
      <td class="text-danger">
        FAIL
      </td>
      <% } %>
      <td>
        <%=UNIXConverter(sorted_xray_pb_details[xray_pb_index].certified_date)%>
      </td>
    </tr>
    <% } %>
    <% } //CLOSE BRACKET FOR ELSE STATEMENT%>
  </table>

  <div class="mb-4 col-11 mx-auto">
    <% if (user.role == 1) { %>
    <a href="/xray_pb/new/<%=officer_details.nric%>" class="btn btn-primary col-sm-6">Add New Record</a>
    <% } %>

  </div>

</div>

<% include partials/footer %>